.text-field input {
    border-radius: 10px;
    height: 30px;
    width: 230px;
    outline: 0;
    border: none;
    margin-bottom: 5px;
    color: #546747;
    font-size: 18px;
    padding-left: 8px;
    line-height: 10px;
}

.text-field input::placeholder {
    font-size: 18px;
}

.text-field input:focus {
    outline: 0;
}

.text-field input:active {
    outline: 0;
}