.application-board {
    width: 50vw;
    height: 60vh;
    overflow: scroll;
    background-color: #FFFFFF;
    margin-left: 24px;
    border-radius: 10px;
    overflow-x: hidden;
    min-width: 600px;
    display: flex;
    flex-direction: column;
}

.application-board::-webkit-scrollbar {
    width: 8px;

}

.application-board::-webkit-scrollbar-track {
    border-radius: 0 10px 10px 0;
    background-color: #546747;
}

.application-board::-webkit-scrollbar-thumb {
    background-color: #2B331F;
    border-radius: 0 10px 10px 0;
}

.application-board-header {
    display: flex;
    flex-direction: row;
    border-bottom: #546747 solid 1px;
}

.application-board-content {
    padding-left: 16px;
}

.application-board-param {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.application-board-param h3 {
    color: #2B331F;
    margin: 0;
    min-width: 120px;
    max-width: 120px;
}

.application-board-param p {
    color: #2B331F;
    margin: 3px 0 0 8px;
    display: flex;
    align-items: flex-end;
}

.application-board h1 {
    margin: 0;
    line-height: 30px;
    height: 32px;
    font-size: 18px;
    padding-left: 16px;
    color: #2B331F;
    font-weight: 600;
}

.application-board h2 {
    margin: 0 0 0 auto;
    line-height: 30px;
    height: 32px;
    font-size: 18px;
    padding-left: 16px;
    color: #2B331F;
    font-weight: 200;
    width: auto;
    padding-right: 16px;
}

.application-board-actions {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 16px;
    margin-left: auto;
    margin-top: auto;
}

.application-board-actions button {
    margin: 0 0;
}

.application-board-actions span {
    min-width: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #827777;
    /* padding: 12px 16px; */
    z-index: 1;
    /* margin: 4px 4px; */
    /* margin-top: 80px; */
    bottom: 100%;
    flex-direction: column;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content button {
    cursor: pointer;
    background-color: #e2e2e2;
    border: #C4C4C4 1px solid;
    outline: none;
    height: 30px;
    margin: 0;
    color: #2B331F;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.dropdown-content button:hover {
    background-color: #C4C4C4;
}

.dropdown-content button:active {
    background-color: #b8b8b8;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.application-board-comments {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.application-board-comments h3 {
    margin: 0;
}

.application-board-comment {
    display: flex;
    flex-direction: column;
    border: #BBC8BA 1px solid;
    border-radius: 10px;
    max-width: 400px;
    margin: 6px 0;
    padding: 8px;
}

.application-board-comment-title {
    display: flex;
    flex-direction: row;
}

.application-board-comment-title h4 {
    margin: 0;
    color: #2B331F;
}

.application-board-comment-title span {
    margin-left: auto;
    color: #546747;
    font-weight: 300;
}

.application-board-comment-text {
    color: #546747;
    font-weight: 200;
    margin-bottom: auto;
}

