.create-app-popup {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.create-app-popup textarea {
    margin: 8px 0;
    resize: none;
    outline: none;
    border: none;
    width: 99%;
    height: 160px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.create-app-popup h1 {
    font-size: 18px;
    text-align: left;
    margin: 2px 0;
}

.create-app-popup select {
    float: left;
    margin: 2px 0;
    outline: none;
    border-radius: 10px;
    height: 24px;
    width: 240px;
    border: transparent;

}

.create-app-popup select:hover {
    outline: none;
}

.create-app-popup option {
    outline: none;
    border-radius: 10px;
}
