.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    padding-top: 24vh;
    z-index: 1000;
}

.popup-content {
    width: 600px;
    top: 50%;
    margin: auto;
    background-color: #BBC8BA;
    opacity: 1;
    border-radius: 10px;
}