.button button {
    min-width: 160px;
    height: 40px;
    background: #fff;
    color: #546747;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
    border: none;
    cursor: pointer;
}

.button button:hover {
    background: #FDDCA5;
}


.button button:active {
    background: #ecc488;
    outline: none;
    border: none;
}

.button button:focus {
    outline: 0;
}

.button-action button {
    cursor: pointer;
    min-width: 160px;
    height: 40px;
    background: #FDDCA5;
    color: #546747;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.button-action button:hover {
    background: #efcd94;
}


.button-action button:active {
    background: #ecc488;
    outline: none;
    border: none;
}

.button-action button:focus {
    outline: 0;
}