.about-tag {
    height: 40px;
    width: 25vw;
    background: #FFF;
    border-radius: 0 10px 10px 0;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
}

.about-tag-name {
    color: #2B331F;
    font-size: 24px;
    font-weight: 600;
    margin: 4px 8px;
}

.about-tag-sub {
    color: #BBC8BA;
    margin-left: auto;
    padding-right: 8px;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}