.comment-popup {
    text-align: center;
    padding: 8px;
    margin: 0 auto;
}

.comment-popup textarea {
    margin: 8px 0;
    resize: none;
    outline: none;
    border: none;
    width: 99%;
    height: 160px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.comment-popup h1 {
    font-size: 18px;
    text-align: left;
    margin: 2px 0;
}
