.sidebar-elem {
    height: 80px;
    border-bottom: #C4C4C4 solid 1px;
    display: flex;
    flex-direction: column;
}

.sidebar-elem:hover {
    background-color: #ececec;
    cursor: pointer;
}

.sidebar-elem-top-line {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    padding-right: 8px;
}

.sidebar-elem-top-line h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #2B331F;
}

.sidebar-elem-top-line h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    color: #2B331F;
}

.sidebar-elem-bottom-line {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding-right: 8px;
    margin-bottom: 4px;
}

.sidebar-elem-bottom-line h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 16px;
    color: #546747;
    font-weight: 200;
}

.sidebar-elem-bottom-line h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    font-size: 14px;
    color: #546747;
    font-weight: 200;
}