.simple-button button {
    min-width: 100px;
    height: 30px;
    background: #FDDCA5;
    color: #2B331F;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    border-radius: 10px;
    border: none;
}

.simple-button button:hover {
    background: #fad59e;
}


.simple-button button:active {
    background: #ecc488;
    outline: none;
    border: none;
}

.simple-button button:focus {outline:0;}