.sidebar {
    width: 25vw;
    height: 60vh;
    overflow: scroll;
    border-radius: 0 10px 10px 0;
    background: #FFF;
    overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
    width: 8px;

}

.sidebar::-webkit-scrollbar-track {
    border-radius: 0 10px 10px 0;
    background-color: #546747;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #2B331F;
    border-radius: 0 10px 10px 0;
}