.auth {
    display: flex;
    margin: 30vh auto;
    width: 240px;
    flex-direction: column;
}

.auth h1 {
    text-align: center;
    margin: 8px auto;
    font-size: 32px;
    color: #2B331F;
    font-weight: 400;
}

.auth-left-bar {
    margin-left: auto;
}